.container {
    margin: 0 auto;
}

.card {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    padding: 0 10px 10px;
    background-color: #fff;
}

.card h4 {
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
}